body{
	margin: 0px;
	padding: 0;
}

.main{
	width: 100%;
}

nav{
	width: 100%;
    background-color: black;
	height: 80px;
	line-height: 60px;
	padding: 0px 100px;
	display: flex;
	justify-content: space-between;
}

.logo a{
	font-size: 39px;
	color: red;
	font-weight: blod;
	margin-left: 100px;
}

a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	transition: 0.5s all ease;
}

ul{
	margin: 0px;
	margin-right: 100px;
}

ul li{
	float: left;
	padding: 0px 15px;
	list-style: none;
}

ul li a:hover{
	color: red;
}

.header{
	background-image: url('C:\Users\HP\Downloads\ProjectImage.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	text-align: center;
}

.content h1{
	font-size: 50px;
}

.content p{
	padding: 0px 70px;
	font-size: 20px;
}

button{
	background: none;
	border: 1px solid #fff;
	font-size: 18px;
	padding: 5px 25px;
	border-radius: 6px;
}

button:hover{
	background: black;
	color: red;
}

.overlay{
	background: rgba(0, 0, 0, .9);
	height: 100vh;
}